.about-container {
    margin-top: 60px;
    margin-left: 20px;
}

.about-container h2{
    color:rgb(230, 151, 5);
}
.content {
    margin-top: 40px;
    align-items: center;
    margin-bottom: 40px;
}

.content h2 {
    text-align: center;
    font-size: 30px;
}

.info {
    margin-top: 30px;
    margin-left: 180px;
    margin-right: 180px;
    text-align: center;
}
.info p {
    font-size: 18px;

}
.image {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}