*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.Home{
  /* background-image: url("https://img.freepik.com/premium-photo/grocery-shopping-white-background-vegetables-fruits-juice-bottles-bread-paper-bags_439094-1.jpg?w=2000"); */
  background-image: url("https://media.istockphoto.com/id/1448720788/photo/food-banner-background-with-vegan-products-vegan-food-on-table-top-view-veganuary-concept.jpg?s=612x612&w=0&k=20&c=FDL6u4mIyzAH2o-6onJW14fJX01CBGToiHOf7rKw-xk=");
  height: 60vh;
  background-repeat: no-repeat;
  background-size:cover;
}
.title{
  padding-top: 14%;
  font-size: 58px;
}

button {
 border: none;
 background-color: #86BC42;
 padding: 20px;
 border-radius: 10px;
 cursor: pointer;
 color: white;
}
h2 {
 text-align: center;
 font-size: 30px;
}

/* ============== styling home section ============== */

.tagline{
  /* background-color: rgb(44, 44, 25); */
  width: 60%;
  margin-left: 25%;
  padding-top: 20%;
  padding-bottom: 15%;
}

.tagline h3{
  font-size: 30px;
  color: rgb(22, 21, 29);
  opacity: 0.8;
}

.link-btn button {
  border-style: solid;
  cursor: pointer;
  color: black;
  font-size: 16px;
  width: 200px;
  background:none;
  height: 60px;
  border-radius: 4px;
  margin-left: 200px;
  margin-top: 20px;

}
.link-btn button:hover{
  background-color: orange;
  transition-delay: 6ms;
}

/* ============== styling footer section ============== */

.container1{
  background-color: white;
  margin-top: 40px;
  align-items: center;
  align-content: space-between;
}

.footer-section{
  /* background-color: aqua; */
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 2px solid rgb(202, 200, 200);;
}

.heading{
/* color: rgba(245, 168, 24, 0.788); */
color: rgba(2, 14, 68, 0.938);
font-size: 24px;
}

.section1{
  margin-top: 30px;
  margin-bottom: 20px;
  /* background-color:rgb(163, 90, 1); */
  color: rgb(104, 103, 103);
  font-size: 16px;
  margin-left: 20px;
  height: 250px;
  width: 70%;
  margin-right: 60px;
}

.section1 p{
  padding-top: 20px;
  padding-bottom: 2px;
}

.section2{
  margin-top: 30px;
  margin-bottom: 20px;
  /* background-color:rgb(163, 90, 1); */
  color: rgb(104, 103, 103);
  font-size: 16px;
  height: 250px;
  width: 80%;
  margin-right: 10px;
}

.section2 p{
  padding-top: 20px;
  padding-bottom: 5px;
}
.info{
  
}

.footer-end{
  height: 80px;
  display: flex;
  /* background-color:rgb(22, 21, 29) ; */
  /* color: white; */
}
.copyright{
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(104, 103, 103);
  margin-left: 40%;
  font-size: 16px;
}
.copyright p b{
  color: rgb(248, 164, 7);
}

.icons{
  margin-top: 20px;
  font-size: 30px;
  margin-left: 30px;
  color: rgb(104, 103, 103);
}
.icons:hover{
  cursor: pointer;
}