*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.Home{
  background-image: url("https://img.freepik.com/premium-photo/grocery-shopping-white-background-vegetables-fruits-juice-bottles-bread-paper-bags_439094-1.jpg?w=2000");
  height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;

}