.contact-container{
    /* background-color: rgb(146, 108, 132); */
    background-color:#4561;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    margin-bottom: 10%;
}
.location{
    background-color: rgba(0, 0, 0, 0.966);
    display: flex;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.location h4{
    color: #ffffff;
    opacity: 0.7;
    margin-top: 6px;
    font-size: 16px;
}
.form{
    background-color: rgba(83, 122, 131, 0.082);;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 100%;
    padding: 20px;

}
input{
    display: flex;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    
}
textarea{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.contact-image img {
    width: 150%;
    height: 92.4%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 400px;
}
.message-btn{
    align-items: center;
    height: 80px;

}
.message-btn button{
    margin-top: 20px;
    margin-left: 180px;
    width: 160px;
    height: 50px;
    align-items: center;
    border-radius:4%;
    font-size: 14px;
    background-color: rgba(252, 165, 4, 0.815);
    /* background-color: rgba(51, 65, 78, 0.651);; */
}