.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    background-color: #86BC42;
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* position: fixed; */
  }
  
  .nav-components {
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: row;
      margin-left: 400px;
      justify-content:space-between;
  }

  ul {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: red; */

  }
  
  ul a{
      list-style: none;
      margin-left: 48px;
      margin-top: 22px;
      font-size: 16px;
      text-decoration: none;
      font-family: sans-serif;
      color: black;
      opacity: 0.9;
  }
  ul a:hover{
    color: white;
    transition-duration: 0.4s;
  }
  
  .nav-components ul li {
    font-size: 14px;
    /* font: 1em sans-serif; */
  } 