.card-container{
    border-style: dotted;
}
.card {
    height: 50%;
    width: 25%;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    position: relative;
    float: left;
    flex-direction: row; 
    display: block;
    border-radius: 0.8em;
}
.card:hover{
    transform: translate(0px, -10px);
}

.card img {
    width: 250px;
    height: 200px;
}

.card h3{
    font-size: 20px;
    color: rgba(2, 14, 68, 0.938);
}
.card h6{
    font-size: 14px;
    justify-content:space-between;
    padding: 4px;
    color: grey;
}

.details button{
    margin-top: 18px;
    margin-bottom: 10px;
    height: 48px;
    width: 52%;
}
.add-button{
    color: white;
    font-size: 16px;
    padding-bottom: 30px;
}